.body{
     
    background-image: url("image/bg4.jpg");
    background-repeat: no-repeat;
     background-size: cover;
}
.log_area{
        width: 400px;
        height: 200px;
        color: #3a31c5;
        padding: 0 10px 10px 40px;
        margin: 0 auto;
        border: 2px solid;
        border-color: #673b57;;
        position: relative;
        background-color: rgba(236, 16, 16, 0.07);
        box-shadow: 2px 5px 5px 5px #67313f;
        margin-top: 40px;
       
}

 .left_block{
    background-image: url("image/blood_donor.jpg");
    background-size:  cover;
    background-repeat: no-repeat;
    
}
.bt{
    padding: 20px 30px;
}

.mr-top-20{
    margin-top: 20px;
}