.body{
     
    background-image: url("image/bg4.jpg");
    background-repeat: no-repeat;
     background-size: cover;
}
.log_area{
        width: 450px;
        height: 450px;
        color: #2f2424;
        padding: 0 10px 10px 40px;
        margin: 0 auto;
        
        position: relative;

        box-shadow: 2px 5px 5px 5px #442321;
        margin-top: 40px;
       
}

 .left_block{
    background-image: url("image/blood_donor.jpg");
    background-size:  cover;
    background-repeat: no-repeat;
    
}
.bt{
    padding: 20px 30px;
}

.mr-top-20{
    margin-top: 20px;
}