.body{
     
    background-image: url("image/bg4.jpg");
    background-repeat: no-repeat;
     background-size: cover;
}
.log_area{
        width: 370px;
        height: 350px;
        color: #2f2424;
        padding: 0 10px 10px 40px;
        margin: 0 auto;
        position: relative;
        box-shadow: 2px 5px 5px 5px #6b6768;
        margin-top: 30px;
       
}

 .left_block{
    margin-top:30px;
    background-size:  cover;
    background-repeat: no-repeat;
}

.information{
    font-size:18px;
    font-family:serif;

}
.bt{
    padding: 20px 30px;
}

.mr-top-20{
    margin-top: 20px;
}